@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,372;1,372&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff5e6;
}

.container-form {
    font-family: 'Alegreya', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
}

.form-container {
    background-color: #ffd7b4;
    padding: 1.4rem 2rem;
    width: 27rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.form-container h1 {
    text-align: center;
    margin: 1.2rem 0 1.8rem 0;
}

.form-container label {
    display: block;
    margin-bottom: 0.4rem;
}

.form-container input,
.form-container button,
.form-container select {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    background-color: #fef6f0;
}

.form-container input[type="radio"] {
    width: auto;
    margin-right: 0;
}

.form-container .gender {
    display: inline;
    margin-right: 0.6rem;
}

.form-container button {
    background-color: #ff5900;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.form-container button:hover {
    background-color: #fc2f20;
}